/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  padding: 24px 148px;
  max-width: 1128px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 24px 24px 0 24px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.feedback-form input {
  padding: 8px;
  border-radius: 8px;
  border-color: #808080;
  margin-top: 8px;
  width: 360px;
  height: 40px;
}

.feedback-form textarea {
  padding: 8px;
  border-radius: 8px;
  border-color: #808080;
  margin-top: 8px;
  width: 360px;
  height: 80px;
}

.feedback-form button {
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #4e75ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 8px;
}
.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}
